body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
}

.navbar .logo img {
    height: 40px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 1rem;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.signup-button {
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 1rem;
}

.dropdown-button {
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-upload {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.btn-upload a {
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-item {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    margin: 0.5rem 0;
}

.product-item p {
    font-size: 1.25rem;
    color: #ff6347;
}
/* Product Item Styles */
.product-item button.remove-product {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product-item button.remove-product:hover {
    background-color: #c82333;
}


.add-to-cart {
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #e5533e;
}
